<!-- ROW 1  -->
<div class="row clearfix grid">
    <div class="column fourth">
      <span id="ENTRY_ID_NUMBER">
        <h1>i went home this winter (or my friends, lights, a game, and the last time i saw my childhood home)</h2>
      <h2>by Nick Kegeyan</h2>
      </span>
    </div>
    <div class="column fourth">
      <span id="ENTRY_ID_NUMBER">
      <h1>i went home this winter (or my friends, lights, a game, and the last time i saw my childhood home)</h2>
      <h2>by Nick Kegeyan</h2>
      </span>
    </div>
    <div class="column fourth">
      <span id="ENTRY_ID_NUMBER">
      <h1>i went home this winter (or my friends, lights, a game, and the last time i saw my childhood home)</h2>
      <h2>by Nick Kegeyan</h2>
      </span>
    </div>
    <div class="column fourth">
      <span id="ENTRY_ID_NUMBER">
      <h1>i went home this winter (or my friends, lights, a game, and the last time i saw my childhood home)</h2>
      <h2>by Nick Kegeyan</h2>
      </span>
    </div>
</div>